/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.fix-height {
  min-height: calc(100vh - 130px)
}

.fix-p {
  padding: 70px 0;
}

.heading {
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 40px;
}